TODAI_DATABASE_URL=postgres://todai:todai@localhost:5432/todai?sslmode=disable
TODAI_HTTP_PORT=8080
TODAI_SESSION_COOKIE_NAME=todai_session
TODAI_API_URL=http://localhost:8080
TODAI_RUNNER_EXECUTABLE=../pi-runner/dist/pi-runner
TODAI_RUNNER_STARTUP_TIMEOUT=5s
TODAI_RUNNER_RUN_TIMEOUT=2m
TODAI_RUNNER_ABORT_TIMEOUT=2s
TODAI_RUNNER_MAX_LINE_BYTES=1048576
TODAI_AGENT_RUNTIME=fake
TODAI_INTERNAL_API_URL=http://127.0.0.1:8080
TODAI_AGENT_TOKEN_TTL=15m
TODAI_PI_AGENT_DIR=
TODAI_PI_PROVIDER=
TODAI_PI_MODEL=
TODAI_PI_MODELS=
